# Ignore Gradle files
.gradle/
build/

# Ignore IntelliJ files
.idea/
out/
*.iml
*.iws
*.ipr

# Ignore Eclipse files
.classpath
.project
.settings/
bin/

# Other dirs
database/
/src.zip
/update_db.sql
/dist/
/node_modules/
.vscode/
package-lock.json
/out-tsc/
/authorization-service-ad.txt
/todo.txt
/tsconfig.development.json
/docs-build
swagger.json