addons:
  sonarcloud:
    organization: sitmun


script:
  - ./build-scripts/script.sh
  - sonar-scanner

after_success: ./build-scripts/after_success.sh

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.sonar/cache
    - $HOME/.m2/repository
    - .gradle

# Safelist
branches:
  only:
  - master
