<mat-toolbar color="primary">
  <button mat-button [routerLink]="['']">
    <img height="50px;" src="https://avatars0.githubusercontent.com/u/24718368?s=200&v=4">
    <span>  Sitmun Admin App</span>
  </button>
  
   <span class="toolbar-spacer"></span>
    <span *ngIf="isLoggedIn()" >
    <!-- 
   <button mat-button *sitmunHasAnyAuthority="['ADMIN SITMUN','ADMIN ORGANIZACION']"
            [routerLink]="['/territory-list']"><span [translate]="'menu.territories'">Territories</span>
    </button>
     <button mat-button *sitmunHasAnyAuthority="'ADMIN SITMUN'"
            [routerLink]="['/territory-type-list']"><span [translate]="'menu.territoriesTypes'">Territory types</span>
    </button>
    <button mat-button  *sitmunHasAnyAuthority="['ADMIN SITMUN','ADMIN ORGANIZACION']"
            [routerLink]="['/user-list']"><span [translate]="'menu.users'">Users</span>
    </button>
    <button mat-button *sitmunHasAnyAuthority="'ADMIN SITMUN'"
            [routerLink]="['/role-list']"><span [translate]="'menu.roles'">Roles</span>
    </button>
    -->
    <button mat-button *sitmunHasAnyAuthority="'ADMIN SITMUN'"
            [routerLink]="['/connection-list']"><span [translate]="'menu.connection'">Connections</span>
    </button>
    <!-- 
    <button mat-button *sitmunHasAnyAuthority="'ADMIN SITMUN'"
            [routerLink]="['/task-type-list']"><span [translate]="'menu.taskType'">Task Types</span>
    </button>
    <button mat-button *sitmunHasAnyAuthority="'ADMIN SITMUN'"
            [routerLink]="['/task-group-list']"><span [translate]="'menu.taskGroup'">Task Groups</span>
    </button>
    <button mat-button *sitmunHasAnyAuthority="'ADMIN SITMUN'"
            [routerLink]="['/task-list']"><span [translate]="'menu.taskList'">Tasks</span>
    </button>
     -->
    <button mat-button *sitmunHasAnyAuthority="'ADMIN SITMUN'"
            [routerLink]="['/service-list']"><span [translate]="'menu.serviceList'">Services</span>
    </button>
    <button mat-button *sitmunHasAnyAuthority="'ADMIN SITMUN'"
            [routerLink]="['/cartography-list']"><span [translate]="'menu.cartographyList'">Cartographies</span>
    </button>
    <button mat-button *sitmunHasAnyAuthority="'ADMIN SITMUN'"
            [routerLink]="['/cartography-group-list']"><span [translate]="'menu.cartographyGroupList'">Cartography Groups</span>
    </button>
    <button mat-button *sitmunHasAnyAuthority="'ADMIN SITMUN'"
            [routerLink]="['/background-list']"><span [translate]="'menu.backgroundList'">backgrounds</span>
    </button>
    <button mat-button *sitmunHasAnyAuthority="'ADMIN SITMUN'"
            [routerLink]="['/tree-list']"><span [translate]="'menu.treeList'">trees</span>
    </button>
    <button mat-button *sitmunHasAnyAuthority="'ADMIN SITMUN'"
            [routerLink]="['/application-list']"><span [translate]="'menu.applicationList'">applications</span>
    </button>
  </span>
    <span (click)="changeLanguage('ca')"> CA </span> | <span  (click)="changeLanguage('es')"> ES </span>| <span  (click)="changeLanguage('en')"> EN </span>
    <span *ngIf="isLoggedIn()" ><a href="" [routerLink]="['/account']" [translate]="'menu.account'">Account</a> <a href="" [routerLink]="['/change-password']" [translate]="'account.change-password'">Change password</a><a href="" (click)="logout()" [translate]="'account.closeSession'">Close session</a> </span> 
</mat-toolbar>
<router-outlet></router-outlet>
<!-- test map-->

        <sitmun-map-viewer-map [extent]="[256901.08041000657, 4544669.980255321, 554715.9195899934, 4703023.019744679]" 
                       [initialProjection]="'EPSG:25831'" 
                       [loadDefaults]="true"></sitmun-map-viewer-map>                       
                      

